/src/db.sqlite3
/src/.env
.idea
.postgresdata
/node_modules/
/**/webpack_bundles/
/src/queenbees/interfaces/**/static/vendors/
/src/queenbees/interfaces/**/static/js/
/src/queenbees/interfaces/**/static/css/
/src/queenbees/interfaces/**/static/admin/
/src/queenbees/interfaces/**/static/index.**
/src/queenbees/interfaces/**/static/runtime**
/src/queenbees/interfaces/**/static/manifest.json
