{% load webpack_loader static %}

<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {% stylesheet_pack 'index' %}
    {% javascript_pack 'index' attrs='defer' %}
    {% block additional_scripts %}{% endblock %}
</head>

<body>
{% block menu %}{% include 'menu.html' %}{% endblock %}
<div class="content-body">
    {% block body %}{% endblock %}
</div>
</body>
</html>
